{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    Votre profil :
    {{ form_start(form) }}
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_row(form.password, {
            label: 'Password'
        }) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

</div>
{% endblock %}
