{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div class="card text-center" style="display:flex; align-items: center;">
    <img style="height: 200px; width: 200px" class="" src="{{profil.avatarlink}}">
   
          
           <div class="text-center"><p>username : {{profil.username}}</div></p>
   
   </div>        
   <p> Vous souhaitez <a href="/profil/modif">modifier votre profil?</a></p>
</div>
{% endblock %}
