<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>

	<link rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link href="/public/style.css" rel="stylesheet">
	<script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	{% block stylesheets %}
	{% endblock %}

	{% block javascripts %}
	{% endblock %}
</head>

<body>
	{% if app.user %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="flex-direction:row-reverse">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
			aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Projet Entraide</a>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="/">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/post">Mes posts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profil">Mon profil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Me deconnecter</a>
				</li>
			</ul>
		</div>
	</nav>
	{% endif %}
	{% if app.user == null %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="flex-direction:row-reverse">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
			aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Projet Entraide</a>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="/">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Me connecter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/register">M'enregister</a>
				</li>
			</ul>
		</div>
	</nav>
	{% endif %}
	

	<div class="card text-center" id="card" style="display: flex; align-items: center;">
		{% block body %}

		
<h1 class="text-center">Foire aux questions</h1>
		{% for item in data %}
		<div class="card-header p-3 mb-2 bg-secondary text-white w-50 p-3" style="border-radius: 20px;">
			<p>{{item.title}}</p>

			<p>{{item.content}}</p>

			<a href="/post/ {{item.id}}" class="btn btn-primary">
				Voir ce post</a>
		</div>
		{% endfor %}
	</div>

	<div class="card text-center " style="display:flex; align-items:center;">
		<div class="card-header p-3 mb-2 bg-secondary text-white w-50 p-3 ">
			<p class="text-center">Vous avez besoin d'aide? N'hesitez pas a poser votre question:</p>

			{{ form_start(form) }}
			<div class="d-flex p-2 bd-highlight">
				<div class="input-group mb-3">
					{{ form_label(form.title) }}
				</div>
				<div class="input-group mb-3 ">
					{{ form_widget(form.title) }}
				</div>
			</div>
			<br>
			<div class="d-flex p-2 bd-highlight">
				<div class="input-group mb-3 ">
					{{ form_label(form.content) }}
				</div>
				<div class="input-group mb-3 ">
					{{ form_widget(form.content) }}
				</div>
			</div>

			{{ form_rest(form) }}
			{% if app.user %}
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			{% endif %}

			{% if app.user == null%}
			<a href="/login"><button class="btn btn-primary">Enregistrer</button></a>
			{% endif %}

			{{ form_end(form) }}
		</div>
	</div>
	</div>
	{% endblock %}
	{% block footer %}
<footer style="display: flex; align-items: center; justify-content: center;"> <p>
Made by Thomas & Chérif

</p>
	</footer>
	{% endblock %}

</body>

</html>