{% extends 'base.html.twig' %}
{% block body %}


<body>


    <div>
        {# 
Ici j'affiche les posts grace a la variable "data" envoyé depuis le PostController 
#}


        {% if data %}
        <div class="card text-center bg-secondary " style="width:500px; padding:10px;">
            <h2 class="text-center">Voici le post:</h2>
            <p>{{data.title}}</p>
            <p>{{data.content}}</p>

        </div>

    </div>
    {% endif %}
    {# 
Ici j'affiche les commentaires grace a la variable "comment" envoyé depuis le PostController 
#}
    <div>
        <div class="card text-center bg-secondary" style="width:500px">
            <h2 style="margin-bottom: 10px;">Commentaires:</h2>
            {% for item in comment %}
            <div style="border: black 1px;">
                <p>{{item.content}}</p>
                <p>by {{item.userid.username}}</p>
                {% if app.user %}
                <a href="/post/{{item.postid.id}}/vote/{{item.id}}"><button class="btn btn-primary">Voter
                        pour</button></a>
                {% endif %}
                {% if app.user==null%}
                <a href="/login"><button class="btn btn-primary">Voter
                    pour</button></a>
                    {% endif %}
            </div>
            {% endfor %}
        </div>

        {# 
Ici je créé/affiche le formulaire a partir du CommentaireType 
#}
        <div class="card text-center bg-secondary" style="padding:10px">
            <div id="input">
                {{ form_start(form) }}
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                {{ form_rest(form) }}
                {% if app.user == null%}
                <button type="submit" class="btn btn-primary"><a href="/login"></a>Enregistrer</button>
                {% endif %}
                {% if app.user %}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
        {% endblock %}