{% extends 'base.html.twig' %}
{% block body %}


<body> 


<div>
{# 
Ici j'affiche les posts grace a la variable "data" envoyé depuis le PostController 
#}


<h2 class="text-center">Voici tous vos posts:</h2>
    {% for item in data %}
    <div class="card-header p-3 mb-2 bg-secondary text-white" style="border-radius: 20px;">
            <p>{{item.Title}}</p>
            <p>{{item.Content}}</p>
            <a class="btn btn-primary" href="/post/{{item.id}}">Voir le post</a>
            <a class="btn btn-primary" href="/post/{{item.id}}/delete">Le supprimer</a>

   </div>  
   {% endfor %}           
</div>
{% endblock %}


